@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

/* ==Animation Style== */

@keyframes bounce {
    0% {
        top: 24%;
    }

    100% {
        top: 22%;
    }
}

.microphone {
    background-color: transparent;
    position: relative;
    animation: bounce 1.5s ease-in-out 0.5s infinite alternate;
}


.title {
    background-image:
        linear-gradient(to left bottom,
            rgba(145, 0, 248, 1),
            rgba(247, 233, 63, 0.9),
            rgba(251, 9, 180, 1));

    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-size: 200%;
    animation: animate 3s ease-in-out infinite;
}

@keyframes animate {
    from {
        background-position: 200%;
    }

    to {
        background-position: 0;
    }
}



/* ==Shared Styles== */

.display-flex {
    display: flex;
}

.bg-color {
    background-color: #1A0B2E;
}

.text-primary {
    color: #FFFFFF;
}

.text-secondary,
.card-name,
.icon,
.copyright {
    color: rgba(255, 255, 255, 0.668);
}

.btn-primary {
    font-size: 1rem;
    font-weight: 500;
    padding: 12px 16px;
    border: none;
    border-radius: 10000px;
    background: linear-gradient(30deg,
            rgba(247, 233, 63, 1),
            rgba(251, 9, 180, 1),
            rgba(145, 0, 248, 1));
}

.btn-primary:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.titles {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
}

.card-title {
    font-size: 3rem;
    font-weight: 900;
    color: #00FF88;
    margin-bottom: 16px;
}

.grid-box {
    background-color: rgba(53, 17, 101, 0.4);
    padding: 40px;
    border-radius: 40px;
}


/* ==Navbar Section== */

.navbar-section {
    border-bottom: 1px solid #716d753c;
}

.navbar {
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 16px;
    align-items: center;
}

.nav-menu {
    display: flex;
    gap: 32px;
}

.nav-menu li {
    list-style-type: none;

}

.nav-menu a {
    text-decoration: none;
    color: #FFFFFF;
}

.navbar-h2 {
    font-size: 1.5rem;
    font-weight: 700;
}

.hamburger-icon {
    display: none;
}


/* ==Banner Section== */

.banner {
    max-width: 1600px;
    margin: 0 auto;
    padding: 100px;
    background-image: url('../assets/hero-bg.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.banner-images {
    display: grid;
    justify-content: center;
    align-items: center;
}

.badge {
    font-size: 1.125rem;
    font-weight: 600;
    padding: 8px;
    width: 75px;
    color: #1A0B2E;
    background-color: #00FF88;
    box-shadow: 0 3px 27px 0 rgba(0, 255, 136, 0.5);
    border-radius: 1000px;
    position: absolute;
    right: 40.8%;
    top: 14.2%;
}

.circle {
    position: relative;
    width: 350px;
    height: 350px;
    margin-bottom: 40px;
}

.microphone {
    position: absolute;
    right: 46.3%;
}

.banner-title {
    font-size: 3.75rem;
    font-weight: 800;
    margin-bottom: 8px;
}

.btn-secondary {
    font-size: 1rem;
    font-weight: 500;
    color: #00FF88;
    padding: 12px 16px;
    background-color: transparent;
    border: 1px solid #00FF88;
    border-radius: 10000px;
}

.btn-secondary:hover {
    cursor: pointer;
    transform: scale(1.05);
    color: gray;
    border: 1px solid gray;
}

#buttons {
    margin-top: 24px;
    justify-content: center;
    gap: 8px;
    display: flex;
}


/* ==About Section== */

.about-container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
}

.about-section-description {
    line-height: 30px;
}

.about-container hr {
    margin: 80px auto;
    border: 0.5px solid #716d753c;
}

.card-container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-bottom: 120px;
    justify-content: space-between;
    align-items: center;
}


/* ==TechWave Section== */

.tech-container {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 120px;
    padding-bottom: 40px;
}

.tech-box-container {
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 120px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
}

.premium {
    grid-column: span 1;
    grid-row: span 2;
}

.mobile {
    grid-column: span 2;
}

.global {
    grid-column: span 2;
}

.exclusive {
    grid-column: span 2;
}

.grid-title {
    font-size: 2rem;
    font-weight: 700;
    padding-top: 16px;
    padding-bottom: 16px;
}

.grid-description {
    line-height: 25px;
}


/* ==Feature Section== */

.features {
    max-width: 1200px;
    margin: 0 auto;
    padding: 120px;
}


.feature-title {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
}

.video-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    gap: 40px;
}

.video-card {
    background-color: #250D44;
    border-radius: 20px;
}

.video-card .video {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.description {
    padding: 24px;
}

.video-title {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 12px;
}

.content {
    font-size: 1rem;
    margin-bottom: 13px;
}


/* ==Host Section== */

.host-section {
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 120px;
}

.host-container {
    display: flex;
    background-color: rgba(53, 17, 101, 0.4);
    padding: 40px;
    border-radius: 40px;
    gap: 24px;
}

.host-content {
    align-items: center;
}

.host-name {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 16px;
}

.host-bio {
    line-height: 24px;
    margin-bottom: 16px;
}

.icon-container {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

.icons {
    border: 1px solid rgba(129, 63, 194, 0.763);
    border-radius: 49%;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    padding: 10px;
    padding-bottom: 4px;
}

.icons:hover {
    cursor: pointer;
    transform: scale(1.07);
}


/* ==Footer Section== */

.footer-container {
    max-width: 1600px;
    margin: 0 auto;

    position: relative;
    background-image: url('../assets/footer-bg.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 120px;
    text-align: center;
}

.footer-title {
    font-size: 3.8rem;
    font-weight: 800;
    margin-bottom: 32px;
}

.grid-icon {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 32px;
}

.icon:hover {
    cursor: pointer;
    transform: scale(1.07);
}










/* ====Responsive Styles==== */

@media screen and (max-width:576px) {

    /* ==Shared Styles== */

    body {
        background-color: #1A0B2E;
        margin: 0 auto;
    }

    .titles {
        font-size: 2.3rem;
        font-weight: 700;
        text-align: center;
        justify-self: center;
        margin-bottom: 25px 20px;
    }

    .btn-primary {
        max-width: 420px;
        font-size: 0.75rem;
        padding: 12px;
    }


    /* ==Navbar Section== */

    .navbar {
        padding: 20px;
    }

    .nav-menu {
        display: none;
    }

    .btn-hide {
        display: none;
    }

    .hamburger-icon {
        display: inline;
    }


    /* ==Banner Section== */

    .banner {
        background-size: 700px 670px;
        background-position: center center;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .badge {
        font-weight: 500;
        padding: 8px;
        width: 75px;
        color: #1A0B2E;
        background-color: #00FF88;
        box-shadow: 0 3px 27px 0 rgba(0, 255, 136, 0.5);
        border-radius: 1000px;
        position: absolute;
        right: 22%;
        top: 15%;
    }

    .circle {
        position: relative;
        width: 200px;
        height: 200px;
        margin-bottom: 40px;
    }

    .microphone {
        width: 15%;
        right: 42.5%;
    }


    /* ==About Section== */

    .card-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        width: 100%;
    }

    .about-container {
        text-align: center;
        padding: 40px;
    }

    .card-title {
        font-size: 2.5rem;
    }


    /* ==TechWave Section== */

    .tech-box-container {
        margin: 0 auto;
        display: block;
        flex-direction: column;
        grid-template-columns: repeat(1, 1fr);
        padding: 16px 20px 40px;
    }

    .grid-title {
        font-size: 1.25rem;
    }

    .premium,
    .mobile,
    .global,
    .exclusive,
    .rich {
        padding: 24px;
        width: 100%;
        border-radius: 24px;
        margin-bottom: 16px;
    }


    /* ==Feature Section== */

    .features {
        margin: 0 auto;
    }

    .video-container {
        flex-direction: column;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
    }


    /* ==Host Section== */

    .host-container {
        display: block;
        flex-direction: column;
        margin: 0 20px;
        padding: 24px;
        text-align: center;
    }

    .host-content {
        margin: 0 20px;
    }

    .icon-container {
        justify-content: center;
        gap: 8px;
    }


    /* ==Footer Section== */

    .footer-content {
        max-width: 400px;
        margin: 0 auto;
        padding: 40px 20px;
        text-align: center;
    }

    .footer-title {
        font-size: 3.4rem;
        font-weight: 800;
        margin-bottom: 24px;
    }

    .grid-icon {
        max-width: 300px;
        margin: auto;
        justify-content: center;
        align-items: center;
        gap: 16px;
        margin-bottom: 16px;
        flex-wrap: wrap;
    }
}